<div class="section-header">
    <h1>お薬カレンダー</h1>
</div>

<% if (typeof data.success.message !== "undefined") { %>
    <div class="alert alert-success alert-dismissible show fade">
        <div class="alert-body">
            <button class="close" data-dismiss="alert">
                <span>×</span>
            </button>
            <%= data.success.message %>
        </div>
    </div>
<% } %>

<% if (typeof data.error.message !== "undefined") { %>
    <div class="alert alert-danger alert-dismissible show fade">
        <div class="alert-body">
            <button class="close" data-dismiss="alert">
                <span>×</span>
            </button>
            <%= data.error.message %>
        </div>
    </div>
<% } %>

<div class="card">
    <div class="card-body">
        <div id="medicine-calendar"></div>
    </div>
</div>

<a href="javascript:void(0)" class="d-none" id="modal-plan-add-button">予定追加</a>
<a href="javascript:void(0)" class="d-none" id="modal-plan-edit-button">予定編集</a>

<form class="modal-part" id="modal-plan-add-layout">
    <div class="form-group">
        <label>タイトル</label>
        <input type="text" class="form-control" name="plan_title" required>
    </div>
    <div class="form-group">
        <label>時間</label>
        <input type="text" class="form-control datetimepicker" name="plan_time" value="">
    </div>
    <div class="form-group">
        <label>詳細</label>
        <textarea class="form-control" name="plan_description" required></textarea>
    </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="isNotice" name="plan_notice">
        <label class="custom-control-label" for="isNotice">LINEで通知</label>
        <i class="fas fa-question-circle" data-toggle="tooltip" data-placement="top" title=""
           data-original-title="LINE連携をしている場合、午前7時に当日の予定をお知らせします"></i>
    </div>
</form>